@import "../../../assets/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  margin: 0px 40px;
}

.columnHeader {
  font: bold;
  background-color: rgba(5, 44, 68, 0.367) !important;
}
