@import "../../assets/colors.scss";
 
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'pharmacy'                       
                          'pharmacyCard pharmacist'; 
    //grid-auto-rows: 100px;
  }
  
  .box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .box2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 38px;
    margin-left: 75px;
    margin-right: 75PX;
  }
  .box3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .wrapper {
    border-radius: 5px;
  }
  
  .wrapper > div {
    border-radius: 5px;
    padding: 1em;
  }
  