@import "../../assets/colors.scss";
 
  .wrapper {
    display: grid;
    grid-template-columns: minmax(275px, 350px) minmax(300px, 500px);// repeat(2, 1fr);
    grid-template-areas: 'pharmacy pharmacy'                       
                          'pharmacyCard pharmacist'; 
    grid-gap: 2rem;                
    place-self: center;   
    margin: 3rem;
  }
  
  .box1 {
    grid-area: pharmacy;
    // max-width: 900px;

    .MuiDataGrid-root {
      background: #aedaff;       
      font-family: 'Inter';
      height: 240px;
      width: 100%;

      .MuiDataGrid-withBorderColor {
        border-color: rgb(39, 115, 136);
      }
    }
  }
  
  .box2 {
    grid-area: pharmacyCard;
  }

  .box3 {
    grid-area: pharmacist;    
  }
  
  * {
    box-sizing: border-box;
  }
  
  .wrapper {
    border-radius: 5px;
  }
  
  .wrapper > div {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px rgba(21, 21, 21, 0.719);
    border: 4px outset #5eaedc;    
  }
  