@import "../../assets/colors.scss";
 
body {
  background: rgb(43,149,213);
  background: linear-gradient(194deg, rgba(43,149,213,0.9809173669467787) 48%, rgba(43,124,154,1) 68%, rgba(58,155,232,0.9332983193277311) 100%);
}

  .wrapper {
    display: grid;
    grid-template-columns: [first] 600px [line2] 600px [line3] ;// repeat(2, 1fr);
    grid-template-rows: [first] 15vh [line2] 27.5vh [line3] 36vh [line4];
    grid-template-areas: 'pharmacy pharmacyCard'                       
                         '         pharmacyDrugDemand'
                         '         pharmacist'; 
  }

  
  
  .pharmacy {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;    
  }

  .pharmacyCard {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 15px;
    margin-left: 38px;
    // margin-bottom: 10px;
    // margin-right: 75PX;
  }

  .pharmacyDrugDemand {
      grid-column-start: 2;
     //grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;   
      margin-top: 5px;  
      margin-left: 15px;
    }

  .pharmacist {
    grid-column-start: 2;
    //grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 8px;
    margin-left: 24px;
  }
    
  .wrapper {
    border-radius: 5px;
  }
  
  .wrapper > div {
    border-radius: 5px;
    //padding: 1em;
  }
  