@import "../../../assets/colors.scss";


a {
  text-decoration: none;
}

.Mui-selected {
  background-color: rgba(88, 89, 90, 0.367) !important;
  background: linear-gradient(0deg, rgb(152, 149, 209) 0%, rgba(61,107,205,1) 21%,rgba(61,107,205,1) 81% rgba(77,145,203,1) 100%);    
}

.columnHeader {
  font: bold;
  background-color: rgba(10, 45, 67, 0.367) !important;
}
