@import "../../../assets/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

body {
  background: $primary-color;
}
.container {
  margin: 0px 40px;
}


.ph-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}