@import "../../../assets/colors.scss";

.header {
  background-color: #245f89;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
}

.rightSideDiv {
  float : right;
  color: $font-primary;
  font-size: 18px;
  font-weight: 400;
}
