@import '../assets/colors.scss';

#root {
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  body {
    background: $primary-color;
  }
  .container {
    margin: 3px 40px;
  }

  .layout {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }