// @import '../assets/colors.scss';

// #root {
//   background: linear-gradient(linear-gradient(0deg, rgb(152, 149, 209) 0%, rgba(61,107,205,1) 21%,rgba(61,107,205,1) 81% rgba(77,145,203,1) 100%));
    
//     // max-width:none;     // 1280px;
//     // height: auto;
//     // margin: 0;
//     // padding: 0;
//     // text-align: center;
//   }
  
//   body {
//     background: $primary-color;
//     //margin: auto;
//   }


  // .layout {
  //   background: linear-gradient(linear-gradient(0deg, rgb(152, 149, 209) 0%, rgba(61,107,205,1) 21%,rgba(61,107,205,1) 81% rgba(77,145,203,1) 100%));
  //   // text-align: center;
  //   // min-height: 100vh;
  //   // display: flex;
  //   // flex-direction: column;
  // }

// body {
//   margin: 50;
//   font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   /* height: 100vh; */
//  // background: #ffffff;
//   font-size: 24px;
//   background: linear-gradient(linear-gradient(0deg, rgb(152, 149, 209) 0%, rgba(61,107,205,1) 21%,rgba(61,107,205,1) 81% rgba(77,145,203,1) 100%));
    
// }
// .app {
//   background: #165a72;
// }
h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}
.menu1 {
  margin-bottom: 40px;
  margin-top: 20px;
}
h2 {
  color: #165a72;
}