$primary-color: #4ca6ef; // #5CA1DA;  //#4F92C9;  //#ECEEF3;  //#B0C4DE;  // #cad1e1;  //#c6c8c2;  ////#737479;   //
$secondary-color: #1a242f;  //#1F8EEA;//
$font-primary: #ffffff;
$font-secondary:#000080;