$primary-color: #4ca6ef; 
$secondary-color: #1a242f;  
$font-primary: #FAF9F6;
$font-secondary:#000080;
$menu-color: #245f89;

:export {
    primary-color: $primary-color;
    secondary-color: $secondary-color;  
    font-primary: $font-primary;
    font-secondary: $font-secondary;
    menucolor: $menu-color;
}